<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	  <add name="AppConnectionString" connectionString="Server=localhost\SQLEXPRESS;initial catalog=LFZ_EservicePortal_PROD;integrated security=true;max pool size=5000;" />
	  <add name="LFTZ_InvestorPortalEntities" connectionString="metadata=res://*/LFTZIPContext.csdl|res://*/LFTZIPContext.ssdl|res://*/LFTZIPContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=LFZ_EservicePortal_PROD;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="AppConnectionString" connectionString="Server=DESKTOP-HMO05CP\SQLEXPRESS;initial catalog=LFZ_EservicePortal2024;user id=sa;password=sa123;max pool size=5000;" />
    <add name="LFTZ_InvestorPortalEntities" connectionString="metadata=res://*/LFTZIPContext.csdl|res://*/LFTZIPContext.ssdl|res://*/LFTZIPContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HMO05CP\SQLEXPRESS;initial catalog=LFZ_EservicePortal2024;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>