body {
    background: #f1f4f7;
    padding-top: 120px;
    font-size: 14px;
    color: #444444;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    color: #777;
}

a, a:hover, a:focus {
    color: #001f57;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

h1 {
    font-weight: 300;
    font-size: 40px;
}

h2 {
    font-weight: 300;
    margin-bottom: 20px;
}

h3, h4 {
    font-weight: 300;
}

.large {
    font-size: 2em;
}

.text-muted {
    color: #c5c7cc;
}

.color-gray {
    color: #444444;
}

.color-blue {
    color: #30a5ff;
}

.color-teal {
    color: #1ebfae;
}

.color-orange {
    color: #ffb53e;
}

.color-red {
    color: #f9243f;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.fa-xl {
    font-size: 2em;
}

input.form-control {
    border: 1px solid #ddd;
    box-shadow: none;
    height: 35px;
}

.bootstrap-table input.form-control {
    height: 34px;
}

.input-group-btn .btn {
    height: 46px;
}

.form-control:focus {
    border: 1px solid #30a5ff;
    outline: 0;
    box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.has-success .form-control, .has-success .form-control:focus {
    border: 1px solid #8ad919;
}

.has-warning .form-control, .has-warning .form-control:focus {
    border: 1px solid #ffb53e;
}

.has-error .form-control, .has-error .form-control:focus {
    border: 1px solid #f9243f;
}

.navbar-custom {
    background: #001f57;
    height: 120px;
}

.navbar-header .navbar-brand {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    height: 112px;
    padding-top: 18px;
}

    .navbar-header .navbar-brand span {
        color: #30a5ff;
    }

.navbar-toggle {
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    margin-top: 10px;
}

    .navbar-toggle:hover {
        background: rgba(255, 255, 255, 0.05);
    }

.icon-bar {
    background: #fff;
}

.dropdown {
    /*background: rgba(255, 255, 255, 0.1); 
        margin: 10px 8px;*/
    float: left;
   
    padding: 0px;
    border-radius: 4px;
}

    .dropdown a.dropdown-toggle {
        color: #fff;
        height: 40px;
        width: 40px;
        padding-top: 11px;
        padding-left: 9px;
    }

    .dropdown:hover {
        color: #fff;
        /*background: rgba(255, 255, 255, 0.2);*/
    }

    .dropdown .label {
        top: -4px;
        left: 22px;
        padding-top: 4px;
        padding-bottom: 4px;
        position: absolute;
        border-radius: 9999px;
    }

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    background: none;
}

.dropdown-messages {
    border: 1px solid #fff;
    width: 360px;
    background: rgba(255, 255, 255, 0.9);
    color: #444;
    font-size: 0.9em;
}

    .dropdown-messages img {
        margin: 5px 10px;
        float: left;
    }

    .dropdown-messages .message-body {
        margin: 5px;
        float: left;
        width: 280px;
    }

.dropdown small {
    color: #999;
}

.dropdown em {
    margin: 0 5px;
}

.dropdown-menu > li > a {
    padding: 5px 10px;
}

.dropdown-menu li .message-body a {
    color: #444;
}

.dropdown-menu li a:hover {
    color: #30a5ff;
    text-decoration: none;
    background: none;
}

.divider, .clear {
    clear: both;
}

.dropdown-alerts {
    border: 1px solid #fff;
    width: 260px;
    background: rgba(255, 255, 255, 0.9);
    color: #444;
    font-size: 0.9em;
}

.all-button a {
    text-align: center;
    color: #444;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

a.btn:hover, button:hover {
    opacity: 0.8;
}

a.btn:active, button:active {
    box-shadow: inset 0px 0px 500px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #e9ecf2;
    border-color: #e9ecf2;
    color: #1b3548;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #001f57;
    border-color: #001f57;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success, .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: #8ad919;
    border-color: #8ad919;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning, .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
    background-color: #ffb53e;
    border-color: #ffb53e;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger, .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
    background-color: #f9243f;
    border-color: #f9243f;
}

.btn-link, .page-link, .text-primary {
    color: #30a5ff !important;
}

    .btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
        color: #50b3ff !important;
    }

.bg-primary {
    color: #1b3548;
    background-color: #e9ecf2;
}

a.bg-primary:hover {
    background-color: #e9ecf2;
}

.bg-success, .bg-green {
    color: #fff;
    background-color: #8ad919;
}

a.bg-success:hover, a.bg-green:hover {
    background-color: #8ad919;
}

.bg-success a, .bg-green a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-teal {
    color: #fff;
    background-color: #1ebfae;
}

a.bg-teal:hover {
    background-color: #1ebfae;
}

.bg-teal a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-info, .bg-blue {
    color: #fff;
    background-color: #30a5ff;
}

a.bg-info:hover, a.bg-blue:hover {
    background-color: #30a5ff;
}

.bg-info a, .bg-blue a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-warning, .bg-orange {
    color: #fff;
    background-color: #ffb53e;
}

a.bg-warning:hover, a.bg-orange:hover {
    background-color: #ffb53e;
}

.bg-warning a, .bg-orange a {
    color: rgba(255, 255, 255, 0.75);
}

.bg-danger, .bg-red {
    color: #fff;
    background-color: #f9243f;
}

a.bg-danger:hover, a.bg-red:hover {
    background-color: #f9243f;
}

.bg-danger a, .bg-red a {
    color: rgba(255, 255, 255, 0.75);
}

a.label:hover, a.label:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}

.btn .label {
    position: relative;
    top: -1px;
}

.label-default {
    background-color: #777;
}

    .label-default[href]:hover, .label-default[href]:focus {
        background-color: #5e5e5e;
    }

.label-primary {
    color: #1b3548;
    background-color: #e9ecf2;
}

    .label-primary[href]:hover, .label-primary[href]:focus {
        background-color: #e9ecf2;
    }

.label-success {
    background-color: #8ad919;
}

    .label-success[href]:hover, .label-success[href]:focus {
        background-color: #8ad919;
    }

.label-info {
    background-color: #30a5ff;
}

    .label-info[href]:hover, .label-info[href]:focus {
        background-color: #30a5ff;
    }

.label-warning {
    background-color: #ffb53e;
}

    .label-warning[href]:hover, .label-warning[href]:focus {
        background-color: #ec971f;
    }

.label-danger {
    background-color: #f9243f;
}

    .label-danger[href]:hover, .label-danger[href]:focus {
        background-color: #f9243f;
    }

.panel {
    border: 0;
}

.panel-container {
    padding-top: 20px;
}

.panel-heading .fa-toggle-up, .panel-heading .fa-toggle-down {
    font-size: 17px;
}

.panel-primary > .panel-heading {
    background-color: #30a5ff;
    color: #fff;
    border: none;
}

.panel-success > .panel-heading {
    background-color: #8ad919;
    color: #fff;
    border: none;
}

.panel-info > .panel-heading {
    background-color: #30a5ff;
    color: #fff;
    border: none;
}

.panel-warning > .panel-heading {
    background-color: #ffb53e;
    color: #fff;
    border: none;
}

.panel-danger > .panel-heading {
    background-color: #f9243f;
    color: #fff;
    border: none;
}

.panel-primary .panel-settings, .panel-primary .panel-toggle, .panel-success .panel-settings, .panel-success .panel-toggle, .panel-info .panel-settings, .panel-info .panel-toggle, .panel-warning .panel-settings, .panel-warning .panel-toggle, .panel-danger .panel-settings, .panel-danger .panel-toggle {
    border: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

    .panel-primary .panel-settings:hover, .panel-primary .panel-toggle:hover, .panel-success .panel-settings:hover, .panel-success .panel-toggle:hover, .panel-info .panel-settings:hover, .panel-info .panel-toggle:hover, .panel-warning .panel-settings:hover, .panel-warning .panel-toggle:hover, .panel-danger .panel-settings:hover, .panel-danger .panel-toggle:hover {
        border: none;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.4);
    }

.panel-blue {
    background: #30a5ff;
    color: #fff;
}

.panel-teal {
    background: #1ebfae;
    color: #fff;
}

.panel-orange {
    background: #ffb53e;
    color: #fff;
}

.panel-red {
    background: #f9243f;
    color: #fff;
}

.dark-overlay {
    background: rgba(0, 0, 0, 0.05);
}

.panel-blue p, .panel-teal p, .panel-orange p, .panel-red p {
    color: rgba(255, 255, 255, 0.75);
}

.panel-heading {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 60px;
    line-height: 38px;
}

.panel-default .panel-heading {
    background: #fff;
    border-bottom: 1px solid #e9ecf2;
    color: #444444;
}

.panel-footer {
    background: #fff;
    border-top: 1px solid #e9ecf2;
}

.panel-widget {
    padding: 10px 0;
    position: relative;
    box-shadow: none;
    border-radius: 0;
    background: none;
    text-align: center;
    color: #333;
}

    .panel-widget .panel-footer {
        border: 0;
        text-align: center;
    }

.panel-footer .input-group {
    padding: 0px;
    margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child > .btn, .panel-footer .input-group-btn:last-child > .btn-group {
    margin: 0;
}

.panel-widget .panel-footer a {
    color: #999;
}

    .panel-widget .panel-footer a:hover {
        color: #666;
        text-decoration: none;
    }

.panel-widget .text-muted {
    margin-top: -6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

.panel-widget .large {
    color: #373b45;
    font-size: 3em;
}

.panel-settings {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .panel-settings .dropdown a.dropdown-toggle, .panel-settings a {
        padding: 0;
        background: none;
        color: #7c7c7c;
    }

    .panel-settings a, .panel-toggle {
        width: 40px;
        padding: 4px;
        opacity: 4;
        color: #001f57;
    }

        .panel-settings:hover, .panel-toggle:hover, .panel-settings .dropdown a.dropdown-toggle:hover, .panel-settings:active, .panel-toggle:active, .panel-settings .dropdown a.dropdown-toggle:active, .panel-settings:focus, .panel-toggle:focus, .panel-settings .dropdown a.dropdown-toggle:focus {
            background: #f1f4f7;
            color: #444444;
        }

.panel-settings, .panel-toggle {
    display: inline-block;
    margin: -1px -5px 0 15px !important;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #e9ecf2;
    color: #7c7c7c;
    background: #fff;
    width: 42px;
}

.panel-settings {
    width: 42px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

    .panel-settings li.dropdown {
        margin: 0;
        padding: 0;
    }

.dropdown-settings {
    border: 1px solid #fff;
    width: 220px;
    font-size: 0.9em;
    padding: 0;
}

    .dropdown-settings li {
        list-style: none;
        padding: 0 10px;
        width: 220px;
        height: 26px;
        line-height: 26px;
    }

    .dropdown-settings .divider {
        margin: 7px 0;
    }

    .dropdown-settings li a {
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 100%;
        color: #444444;
    }

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin: 0px;
    font-size: 14px;
}

.panel-button-tab-right {
    margin-left: 4px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.panel-button-tab-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-top {
    border-top: 1px solid #dadbda;
}

.border-right {
    border-right: 1px solid #dadbda;
}

.border-bottom {
    border-bottom: 1px solid #dadbda;
}

.border-left {
    border-left: 1px solid #dadbda;
}

.panel .border-top, .panel .border-right, .panel .border-bottom, .panel .border-left {
    border-color: #e9ecf2;
}

.article {
    padding: 10px 0;
}

    .article:first-child {
        padding: 0 0 10px 0;
    }

    .article h4 {
        margin-bottom: 10px;
    }

    .article .date {
        text-align: center;
        margin: 5px auto;
        display: block;
    }

        .article .date .text-muted {
            margin-top: -5px;
        }

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background-color: #e9ecf2;
        left: 25px;
        margin-right: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before, .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: calc( 100% - 65px );
            float: right;
            border: 1px solid #edeeed;
            border-radius: 2px;
            padding: 10px 20px;
            position: relative;
            box-shadow: none;
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                left: -11px;
                display: inline-block;
                border-top: 11px solid transparent;
                border-right: 11px solid #edeeed;
                border-left: 0 solid #edeeed;
                border-bottom: 11px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                left: -10px;
                display: inline-block;
                border-top: 10px solid transparent;
                border-right: 10px solid #fff;
                border-left: 0 solid #fff;
                border-bottom: 10px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 46px;
            height: 46px;
            line-height: 51px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 0px;
            margin-right: -25px;
            background-color: #999999;
            z-index: 100;
            border-radius: 9999px;
        }

.timeline-badge.primary {
    background-color: #30a5ff !important;
}

.timeline-badge.success {
    background-color: #8ad919 !important;
}

.timeline-badge.warning {
    background-color: #ffb53e !important;
}

.timeline-badge.danger {
    background-color: #f9243f !important;
}

.timeline-badge.info {
    background-color: #30a5ff !important;
}

.progress {
    height: 12px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f2f3f2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #30a5ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-success {
    background-color: #8ad919;
    background-image: none;
}

.progress-bar-info, .progress-bar-blue {
    background-color: #30a5ff;
    background-image: none;
}

.progress-bar-warning, .progress-bar-orange {
    background-color: #ffb53e;
    background-image: none;
}

.progress-bar-danger, .progress-bar-red {
    background-color: #f9243f;
    background-image: none;
}

.progress-bar-teal {
    background-color: #1ebfae;
    background-image: none;
}

.jumbotron {
    background: #fff;
    border-bottom: 1px solid #e9ecf2;
    color: #444444;
}

.panel .tabs {
    margin: 0;
    padding: 0;
}

.nav-tabs {
    background: #f2f3f2;
    border: 0;
}

    .nav-tabs li a:hover {
        background: #fff;
    }

    .nav-tabs li a, .nav-tabs li a:hover, .nav-tabs li.active a, .nav-tabs li.active a:hover {
        border: 0;
        padding: 15px 20px;
    }

    .nav-tabs li.active a {
        color: #30a5ff;
    }

    .nav-tabs li a {
        color: #999;
    }

.nav-pills {
    padding: 15px;
    padding-bottom: 0;
}

    .nav-pills li a, .nav-pills li a:hover, .nav-pills li.active a, .nav-pills li.active a:hover {
        border: 0;
        padding: 7px 15px;
    }

        .nav-pills li.active a, .nav-pills li.active a:hover {
            background: #30a5ff;
        }

.tab-content {
    padding: 15px;
}

.navbar {
    border: 0;
}

    .navbar input {
        border: 0;
        background: #444;
        color: #fff;
    }

        .navbar input:focus {
            color: #fff;
            background: #555;
            border: 1px solid #30a5ff;
            outline: 0;
            box-shadow: inset 0px 0px 0px 1px #30a5ff;
        }

.user-menu {
    display: inline-block;
    margin-top: 14px;
    margin-right: 10px;
    float: right;
    list-style: none;
    padding: 0;
}

    .user-menu a {
        color: #fff;
    }

        .user-menu a:hover, .user-menu a:focus {
            text-decoration: none;
        }

.sidebar {
    display: block;
    padding: 0;
    display: none;
    box-shadow: none;
    background: #fff;
}

    .sidebar ul {
        margin: 20px 0px;
    }

    .sidebar form {
        padding: 10px 0 0 0;
        margin: 10px 10px 20px 10px;
    }

@media (min-width: 768px) {
    .sidebar {
        display: block;
        position: fixed;
        top: 120px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .navbar-header {
        width: 100%;
    }
}

.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
    text-decoration: none;
    background-color: #001f57;
    color: #fff;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active, .sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover, .sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
    color: #fff;
    background-color: #001f57;
}

.sidebar ul.nav ul, .sidebar ul.nav ul li {
    list-style: none;
    list-style-type: none;
}

.sidebar ul.nav li a {
    height: 50px;
    font-size: 15px;
    line-height: 2em;
    color: #444444;
}

.sidebar ul.nav ul.children {
    width: auto;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
}

    .sidebar ul.nav ul.children li a {
        height: 40px;
        background: #f1f4f7;
        color: #444444;
    }

.sidebar ul.nav li.current a {
    background-color: #30a5ff;
    color: #fff !important;
}

.sidebar ul.nav li.parent ul li a {
    border: none;
    display: block;
    padding-left: 30px;
    line-height: 40px;
    border-radius: 0;
}

.sidebar ul.nav li.divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px 0;
}

.profile-sidebar {
    padding: 10px 0;
    border-bottom: 1px solid #e9ecf2;
}

.indicator {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 9999px;
    margin-right: 5px;
}

.profile-userpic img {
    float: left;
    margin: 10px 0px 0px 15px;
    width: 50px;
    height: 50px;
    border-radius: 9999px !important;
}

.profile-usertitle {
    float: left;
    text-align: left;
    margin: 10px 0 0 12px;
}

.profile-usertitle-name {
    font-size: 20px;
    margin-bottom: 0px;
}

.profile-usertitle-status {
    text-transform: uppercase;
    color: #AAA;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.breadcrumb {
    border-radius: 0;
    padding: 10px 15px 10px 15px;
    background: #e9ecf2;
    margin: 0;
}

h1.page-header {
    margin-top: 20px;
    border-bottom: 0;
    display: none;
}

.main-chart {
    background: #fff;
}

.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
}

.placeholder h2 {
    margin-bottom: 0px;
}

.donut {
    width: 100%;
}

.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto;
}

    .easypiechart .percent {
        display: block;
        position: absolute;
        font-size: 26px;
        top: 38px;
        width: 120px;
    }

#easypiechart-blue .percent {
    color: #30a5ff;
}

#easypiechart-teal .percent {
    color: #1ebfae;
}

#easypiechart-orange .percent {
    color: #ffb53e;
}

#easypiechart-red .percent {
    color: #ef4040;
}

#calendar, .datepicker-inline {
    width: 100%;
}

    #calendar table {
        width: 100%;
    }

.datepicker-switch {
    font-size: 16px;
    height: 46px !important;
}

.datepicker table tr td.old, .datepicker table tr td.new {
    color: #c5c7cc;
}

.datepicker table tr td {
    padding: 10px !important;
}

    .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
        color: #ffffff;
        background-color: #30a5ff;
        text-shadow: none;
        border-color: #285e8e;
    }

    .datepicker table tr td span:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover, .datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
        background: rgba(0, 0, 0, 0.05);
    }

.todo-list {
    padding: 0;
    margin: -15px;
    background: #fff;
    color: #444444;
}

    .todo-list .checkbox input[type=checkbox] {
        margin: 0;
    }

    .todo-list .checkbox {
        display: inline-block;
        margin: 0px;
    }

.panel-body input[type=checkbox]:checked + label {
    text-decoration: line-through;
    color: #777;
}

.todo-list-item {
    list-style: none;
    line-height: 0.9;
    padding: 14px 15px 8px 15px;
}

    .todo-list-item:hover, a.todo-list-item:focus {
        text-decoration: none;
        background-color: #f6f6f6;
    }

.todo-list .fa-trash {
    color: #444444;
}

    .todo-list .fa-trash:hover {
        color: #ef4040;
    }

.chat .panel-body ul {
    list-style: none;
    margin: -15px;
    padding: 15px;
}

    .chat .panel-body ul li {
        margin-bottom: 10px;
        padding: 15px 5px;
        border-bottom: 1px solid #e9ecf2;
    }

.chat ul li.left .chat-body {
    margin-left: 80px;
}

.chat ul li.right .chat-body {
    margin-right: 80px;
}

.chat ul li .chat-body p {
    margin: 0;
}

.chat .panel-body {
    overflow-y: scroll;
    height: 300px;
}

.chat-body small {
    margin-left: 5px;
}

.table {
    background: #fff;
}

.fixed-table-container {
    border: 1px solid #e9ecf2;
}

    .fixed-table-container thead th {
        background: #f7f7f8;
        border-color: #ddd;
        color: #444444;
        font-weight: 300;
        font-size: 16px;
    }

    .fixed-table-container tbody td {
        border: 1px solid #e9ecf2;
    }

        .fixed-table-container tbody td:last-child {
            border-right: none;
        }

.table > thead > tr > th {
    border-bottom: 1px solid #e6e7e8;
    vertical-align: middle;
    height: 50px;
}

.fixed-table-pagination .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}

.fixed-table-pagination .pagination-detail {
    margin-top: 20px;
}

p.back-link {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
}




.sideba-a {
    text-align: center;
    width: 100%;
}

img.logo-a {
    width: 180px;
    display: initial;
}

img.logo-b {
    margin-top: 12px;
    width: 90%;
    display: initial;
}

img.logo-ax {
    height: 83px;
    float: left;
    display: inline-block;
    margin-bottom: 5px;
}
img.logo-bx {
    width: 333px;
    float: left;
}
a.nacvg span {
    color: #FFF !important;
    float: left;
    padding-top: 4px;
    padding-left: 9px;
}

a.nacvg {
    display: block;
    width: 335px;
}


.bl-drop a.dropdown-toggle {
    width: auto;
}


.form-search-a {
    float: right;
}



.table-size {
}

.table-size-a {
    overflow-x: scroll;
}
/*.table-size-a table{
  width:3000px;
}*/
        .text-danger {
    color: #a94442;
    position: relative;
    width: 100%;
    float: left;
}

.titleContainer {
    text-align: left;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 5rem;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    overflow: hidden;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 25px;
}


.quizec {
    text-align: left;
}

    .quizec label {
        display: block;
        /*clear: both;
        margin: 1% auto;
        width: 80%;
        background: #e4e4e4;
        color: #000;
        padding: 10px;*/
    }


    .quizec textarea {
        clear: both;
        margin: 10px auto;
        width: 98%;
        overflow: hidden;
    }

    .quizec input[type=radio] {
        position: relative;
    }

    .quizec input[type=checkbox] {
        position: relative;
    }













.statis_a {
    color: #EEE;
    width: 98%;
    margin: 10px auto;
    position: relative;
}

    .statis_a .text-center {
        text-align: center;
    }





    .statis_a .box {
        position: relative;
        overflow: hidden;
        /* border-radius: 3px;
    margin-bottom: 25px;*/
    }

.statis .box:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    cursor: pointer;
}

.statis_a .bg-primary {
    color: #fff;
    background-color: #337ab7;
}

.statis_a .box i.ifal {
    position: absolute;
    z-index: 9;
    font-family: sans-serif;
    height: auto;
    width: auto;
    font-size: 1.4rem;
    padding: 6px;
    top: 0px;
    left: 0px;
    background-color: rgb(14 26 53);
    text-align: left;
    color: #FFF;
    cursor: pointer;
}

.statis_a .box i.ifar {
    position: absolute;
    cursor: pointer;
    z-index: 9;
    height: 60px;
    width: 60px;
    font-size: 22px;
    padding: 10px;
    top: -25px;
    right: -30px;
    background-color: rgb(14 26 53);
    line-height: 60px;
    text-align: left;
    border-radius: 50%;
    color: #FFF
}

.statis_a .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.statis_a .fa-eye:before {
    content: "\f06e";
}

.statis_a .fa-envelope:before {
    content: "\f0e0";
    color: #f6f7fa;
}

.statis_a .box h3:after {
    content: "";
    height: 2px;
    width: 70%;
    margin: auto;
    background-color: rgb(14 26 53);
    display: block;
    margin-top: 10px;
}


.statis_a .bg-primary_lfz {
    color: #0e1a35;
    background-color: #f6f7fa;
    border: 1px solid #ccc;
}

.statis_a .lead {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 2px;
}

.statis_a .bcv h3 {
    font-size: 15px;
}



h5.comp-name-a {
    color: #0e1a35;
    letter-spacing: 5px;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding-top: 15px;
    display: block;
    margin: 0px;
    text-align: left;
}



.img-left-pr-a {
    width: 100%;
    margin: 18px auto 0px;
    text-align: center;
}

.img-left-pr-b {
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 18px auto;
    text-align: center;
}

    .img-left-pr-b p {
        font-size: 1.2rem;
    }


h2.hwqe-a {
    font-size: 1.2rem;
    margin: 2px;
    display: block;
    overflow: hidden;
    padding-right: 8px;
    width: 100%;
}

    h2.hwqe-a span.nam-lef {
        float: left;
        width: 42%;
        text-align: right;
        margin-right: 1.2rem;
        font-weight: 500;
        padding: 3px 0px 3px 0px;
    }


    h2.hwqe-a span.nam-righ {
        float: left;
        background-color: #fff;
        color: #0e1a35;
        display: flex;
        width: 50%;
        padding: 3px 0px 3px 0px;
    }


    h2.hwqe-a span.nam-lef-a {
        float: left;
        width: 60px;
        text-align: left;
        margin-right: 11px;
        font-weight: 500;
        padding: 3px 0px 3px 0px;
    }


    h2.hwqe-a span.nam-righ-a {
        float: left;
        background-color: #fff;
        color: #0e1a35;
        display: flex;
    }







.img-left-pr-ba {
    position: absolute;
    top: 0;
    right: 0;
    background: #6d6d6f;
    width: 20%;
    height: 100%;
    padding: 10px;
}


    .img-left-pr-ba h2.hwqe-a {
        color: #FFF;
        margin-top: 7px;
    }
        .img-left-pr-ba h2.hwqe-a span.nam-righ {
            width:auto;
        }


.popupzxc {
    background: #FFFFFF;
    width: 75%;
    top: 10%;
    position: relative;
    margin: auto;
    padding: 41px;
    box-shadow: 5px 2px 15px -3px;
   
}



    .popupzxc button.close {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 50px;
        color: #000;
        margin: 10px;
    }


textarea.xyz:focus {
    outline: none !important;
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
}



.datacenter {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    /* More style: */
    height: 115px;
    background-color: #fff;
}




.welcome h2 {
    font-family: Calibri;
    font-weight: 100;
    margin-top: 0;
}



.text-center {
    text-align: center;
}

.statis {
    color: #EEE;
    margin-top: 15px;
}

    .statis .box {
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
    }

.bg-primary_lfz {
    color: #0e1a35;
    background-color: #f6f7fa;
}

.statis .box i {
    position: absolute;
    height: 70px;
    width: 70px;
    font-size: 22px;
    padding: 15px;
    top: -25px;
    left: -25px;
    background-color: rgb(14 26 53);
    line-height: 60px;
    text-align: right;
    border-radius: 50%;
}

.fa-envelope:before {
    content: "\f0e0";
    color: #f6f7fa;
}


.bcv h3 {
    font-size: 15px;
}


.statis .box h3:after {
    content: "";
    height: 2px;
    width: 70%;
    margin: auto;
    background-color: rgb(14 26 53);
    display: block;
    margin-top: 10px;
}

.lead {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 2px;
}

.break-pon {
    width: 100%;
    height:30px;
    clear: both;
}

.break-pon-a {
    width: 100%;
    height: 10px;
    clear: both;
}

a.ancd {
    color: #0e1a35;
    font-size: 1.6rem;
    padding: 6px;
    line-height: 25px;
    display: block;
}

    a.ancd:hover {
        background-color: #6e6e70;
        color: #FFF;
    }


span.ancd-a {
    border-radius: 100%;
    background: #0e1a35;
    color: #FFF;
    font-size: 1.6rem;
    line-height: 25px;
    width: 25px;
    float: left;
}

.cardz {
    clear: both;
    margin: auto;
    width: 98%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-bodyz {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}


.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}


a.anc-rt {
    color: #0e1a35;
    font-size: 1.6rem;
    padding: 6px;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    float: left;
    
    text-decoration: none;
}


span.ancrt-a {
    border-radius: 100%;
    background: #0e1a35;
    color: #FFF;
    font-size: 2rem;
    line-height: 50px;
    width: 50px;
    display: block;
    margin: 10px auto 10px;
}


span.avasd {
    clear: both;
    display: block;
    position: relative;
    font-weight: normal;
    letter-spacing: 1px;
}



span.col-red {
    background-color: #f41f00;
}

span.col-grey {
    background-color: #6e6e70;
}

span.col-blue {
    background-color: #0e1a35;
}


p.head-ab {
    background: #001f57;
    color: #FFF;
    margin-bottom: 25px;
    padding: 10px;
    text-transform: uppercase;
}



p.categ-sect {
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding: 7px;
    color: #FFF;
    display: block;
    /*background: green;*/
}


p.date-span-p {
    position: absolute;
    z-index: 9;
    font-family: sans-serif;
    height: auto;
    width: auto;
    font-size: 1.2rem;
    padding: 3px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(110 110 112);
    text-align: left;
    color: #FFF;
    cursor: pointer;
    margin: 0px;
}


.rating label.rating-zx input[type=radio] {
}


.surv-fg {
    background: #f1f4f7;
}

.survey-ques {
    margin: 20px auto;
    width: 99%;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
    box-shadow: 1px 1px 8px 0px;
    background: #ffffff;
}
/*
.rating {
    margin-top: 40px;
    border: none;
    float: left;
   
}

    .rating > label.star {
        float: right;
        background: none;
        display: contents;
        color: inherit;
    }

        .rating > label.star:before {
            margin: 5px;
            font-size: 2em;
            font-family: FontAwesome;
            content: "\f005";
            display: inline-block;
           
        }

    .rating > input.radio-a {
        display: none;
    }

        .rating > input.radio-a:checked ~ label.star,
        .rating:not(:checked) > label.star:hover,
        .rating:not(:checked) > label.star:hover ~ label.star {
            color: black;
        }

            .rating > input.radio-a:checked + label.star:hover,
            .rating > input.radio-a:checked ~ label.star:hover,
            .rating > label.star:hover ~ input.radio-a:checked ~ label.star,
            .rating > input.radio-a:checked ~ label.star:hover ~ label.star {
                color: black;
            }*/
/*
.rating {
    border: solid 1px #ccc;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    padding: 0 .2em;
    text-align: center;
    width: 5em;
}*/
.rating input.radio-a {
    display: none;
}

.rating label.star {
    color: #f90;
    cursor: pointer;
    background: none;
    display: contents;
    font-size: 5rem;
}

.rating :checked ~ label.star {
    color: #ccc;
}


.rating label.star:hover,
.rating label.star:hover ~ label.star {
    color: #ccc;
}




.form-group {
    position: relative;
}

.form-group {
    margin-bottom: 2rem;
}

.container_radio.version_2, .container_check.version_2 {
    padding: 4px 0 0 45px;
    min-height: 30px;
}

.container_radio, .container_check {
    display: block;
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 30px;
    line-height: 1.3;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .container_radio input, .container_check input {
        position: absolute;
        opacity: 0;
    }

    .container_radio.version_2 .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        border: 1px solid #ccc;
        border-radius: 50%;
    }

    .container_radio.version_2 input:checked ~ .checkmark:before {
        opacity: 1;
    }

    .container_radio.version_2 .checkmark:before {
        display: block;
        content: "";
        position: absolute;
        opacity: 0;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        left: 12px;
        top: 8px;
        width: 5px;
        height: 10px;
        border: solid #fff;
        z-index: 999;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }



    .container_radio input:checked ~ .checkmark:after {
        opacity: 1;
    }

    .container_radio.version_2 .checkmark:after {
        width: 30px;
        height: 30px;
        top: -1px;
        left: -1px;
    }

    .container_radio .checkmark:after {
        display: block;
        content: "";
        position: absolute;
        opacity: 0;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #001f57;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }








    .container_check input:checked ~ .checkmark {
        background-color: #001f57;
        border: 1px solid transparent;
    }

    .container_check.version_2 .checkmark {
        height: 30px;
        width: 30px;
    }

    .container_check .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid #d2d8dd;
        background-color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }


    .container_check input:checked ~ .checkmark:after {
        display: block;
    }

    .container_check.version_2 .checkmark:after {
        left: 12px;
        top: 8px;
        width: 5px;
        height: 10px;
    }

    .container_check .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }




table.flexx_abc {
    width: 2500px;
}


@media screen and (max-width: 600px) {
    .bl-drop {
        float: right;
        margin: 0px;
    }

        .bl-drop a.dropdown-toggle {
            color: #001f57;
        }
}


a.view-h {
    padding: 5px;
    font-weight: bold;
}



.rakeshcc {
    width: 95%;
    margin: 20px auto;
    padding-bottom:5%;
    max-height: 500px;
    position: relative;
}


.tableFixHead {
    overflow-y: auto;
    height: 100px;
}

    .tableFixHead thead tr th {
        position: sticky;
        top: 0;
    }




table.flexx_a thead th {
    background: #001f57;
}

thead.zzzzzzz {
    position: relative;
    z-index: 9999;
    color: #FFF;
}

/*tbody.yyyyyyy {
    position: relative;
    z-index: -9999;
}*/

.secrjv {
    margin: 20px;
}

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    margin: 10px;
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #001f57;
}


.style-s3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    cursor:pointer;
}

.style-s3::-webkit-scrollbar {
    margin: 10px;
    width: 6px;
    cursor: pointer;
    background-color: #F5F5F5;
}

.style-s3::-webkit-scrollbar-thumb {
    background-color: #001f57;
    cursor: pointer;
}



thead.top-qwe th {
    top: 22px;
    position: relative;
}

p.pqxcd {
    width: 250px;
}


.rep-enq {
    color: #288d17;
}

.rep-com {
    color: #e64848;
}

.rep-req {
    color: #19AFD0;
}
.rep-sus {
    color: #FF8000;
}

.requ-id {
    font-size: 2rem;
    text-align: left;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 5px auto;
    text-transform: uppercase;
}

.init-text {
    color: #e64848;
}

.init-back {
    background: #e64848;
}

.clos-text {
    color: #288d17;
}

.clos-back {
    background: #288d17;
}


.alloc-text {
    color: #fe581c;
}

.alloc-back {
    background: #fe581c;
}

.await-text {
    color: #4f3dd1;
}

.await-back {
    background: #4f3dd1;
}




.pen-text {
    color: #6966CD;
}

.pen-back {
    background: #6966CD;
}

.wip-text {
    color: #19AFD0;
}

.wip-back {
    background: #19AFD0;
}





p.cont-name {
    margin: 13px auto;
    color: #001f57;
    font-weight: normal;
}

    p.cont-name span {
        text-transform: capitalize;
        color: #001f57;
        font-weight: bold;
        clear: both;
        display: block;
    }


.anch-his a {
    background: #6e6e70;
    color: #FFF;
    padding: 4px 15px 4px 15px;
    font-size: 12px;
    letter-spacing: 3px;
    text-decoration: none;
    border-radius: 20px;
    display:block;
}

    .anch-his a:hover {
        color: #6e6e70;
        background: #FFF;
        font-weight: bold;
        border: 1px solid #6e6e70;
    }


.logo-eser {
    display: block;
    float: left;
    width: 100%;
    height: 70px;
    margin: 24px;
}

img.imeser-c
{
    height:100%;
}


span.imeser-s {
    font-size: 26px;
    color: #f6f7fa;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 72px;
    margin-left: 12px;
    vertical-align: middle;
}




.clock {
    margin: 25px 15px 0px 0px;
    color: #fff;
    text-align: right;
}

#Date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: right;
    text-shadow: 0 0 5px #00c6ff;
}

.clock ul {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.clock ul li {
    display: inline;
    font-size: 1.6em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}





@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}




.side-enter {
    text-align: center;
    width: 100%;
    max-height: 140px;
    float: left;
}

img.ente-logo {
    width: auto;
    height: auto;
    max-height: 104px;
}

p.ente-name {
    margin: 15px 0px auto;
    padding: 0px;
    font-size: 1.4rem;
   
    font-style: italic;
}
















@media screen and (max-width: 600px) {

    .navbar-header .navbar-brand {
        height: auto;
    }

    img.logo-ax {
        height: 45px;
    }

    img.logo-bx {
        width: 210px;
        float: left;
    }

    .logo-eser {
        display: inline-grid;
        float: none;
        height: auto;
        margin: 0;
    }
    .col-md-5 {
        display: unset;
    }
    span.imeser-s {
        font-size: 16px;
        line-height: 0;
    }

    .clock {
        float: right;
        margin-top: -46px;
    }

    .navbar-right {
        float: right;
        margin-top: -32px;
    }

        .navbar-right > li > a {
            color: #FFF;
            padding: 0;
            font-size: 12px;
        }
    /*.nav {
      
        float: right;
        margin-top: -32px;
    }
    .nav > li > a {
      color:#FFF;
        padding: 0;
        font-size: 12px;
    }*/
    .bl-drop a.dropdown-toggle {
        color: #FFF;
    }
    .form-search-a {
        float: right;
        width: 100%;
    }
    .input-group {
        display: inline;
    }


    .h2, h2 {
        font-size: 20px;
    }

    .form-group-lg select.form-control {
        height: 32px;
        line-height: 32px;
    }

    .form-group-lg .form-control {
        height: 32px;
        padding: 6px 10px;
        font-size: 14px;
    }


    .img-left-pr-ba {
        width: 100%;
        height: auto;
        padding-top: 24px;
        padding-bottom: 20px;
    }

    h2.hwqe-a span.nam-righ {
        float: none;
    }
    }



@media screen and (max-width: 420px) {
    body {
      
        padding-top: 130px;
    }
        .navbar-custom {
      
        height: 130px;
    }
    div.typop label span
    {
        font-size:1.2rem;
    }
    img.logo-bx {
        width: 146px;
    }
    .sidebar ul {
        margin: 1px 0px;
    }
    .sidebar ul.nav li a {
    
        font-size: 13px;
    }
        #Date {
     
        font-size: 12px;
    }
        .navbar-header .navbar-brand {
        float: left;
        width: auto;
        display: inline-grid;
    }

    img.logo-ax {
        height: 44px;
    }


    .form-search-a {
        float: right;
        width: 100%;
    }



    .input-group {
        display: inline;
    }

    input.form-control {
    
        height: 35px;
    }

    .table {
        background: #fff;
        font-size: 13px;
    }
    .h2, h2 {
        font-size: 20px;
    }



    .form-group-lg select.form-control {
        height: 32px;
        line-height: 32px;
    }

    .form-group-lg .form-control {
        height: 32px;
        padding: 6px 10px;
        font-size: 14px;
    }

    .table > thead > tr > th {
       
        height: 41px;
    }

    label.nqwe {
       /*  float: none !important;*/
    }

    div.typop label span:before {
        width: 1em !important;
        height: 1em !important;
    }
    .wrap
    {
        overflow:hidden;
    }

    .img-left-pr-ba {
       
        width: 100%;
        height: auto;
        padding-top: 24px;
        padding-bottom: 20px;
    }

    h2.hwqe-a span.nam-righ {
        float: none;
        font-size: 10px;
        padding: 3px;
        background: transparent;
        display: inline-block;
    }
    h2.hwqe-a {
        font-size: 11px;
        background: white;
        margin-bottom: 5px;
    }
        h2.hwqe-a span.nam-lef
    {
        width:50%;
    }

    h2.hwqe-a span.nam-lef-a {
        float: left;
        width: 100%;
        text-align: center;
        margin-right: 0;
        font-weight: 500;
        color: #000;
        padding: 2px;
    }


    div.typop label span {
        font-size: 1.2rem;
    }

    .lead {
        font-size: 11px;
    }

    a.ancd {
        font-size: 1.4rem;
    }



    }

@media screen and (max-width: 320px) {

    #Date {
        font-size: 9px;
    }
    span.imeser-s {
        font-size: 13px;
     
    }
    .navbar-right > li > a {
       
        font-size: 10px;
    }
    div.typop label span {
        font-size: 1.1rem;
    }
    .lead {
        
        font-size: 8px;
    }

    a.ancd {
        font-size: 1.2rem;
       
    }
    }


























span.dpsd {
    color: #6e6e70;
    font-size: 1.5rem;
    position: relative;
    left: -33px;
    top: 30px;
}


    .alert-success, .alert-danger {
        display: none;
    }





td.radio_mark .form-group {
    margin-bottom: 0rem;
    width:70px;
}


    td.radio_mark .form-group .container_radio.version_2 {
        padding: 0px 0 0 0px;
        min-height:0px;
    }


.star-rating-qwe {
    direction: rtl;
    display: inline-block;
    padding: 20px
}

    .star-rating-qwe input[type=radio].radio-ab {
        display: none
    }

    .star-rating-qwe label.star-a {
        display: inline-block;
        color: #bbb;
        font-size: 40px;
        padding: 0;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }

        .star-rating-qwe label.star-a:hover,
        .star-rating-qwe label.star-a:hover ~ label.star-a,
        .star-rating-qwe input[type=radio].radio-ab:checked ~ label.star-a {
            color: #f2b600
        }



@media screen and (max-width: 520px) {

    .survey-ques {
        padding-left: 10px;
        padding-right: 10px;
    }

    .star-rating-qwe label.star-a {
        font-size: 28px;
    }

    span.dpsd {
        left: -27px;
    }

    .titleContainer {
        font-size: 1.5rem;
    }
}