<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApiBaseUrl" value="http://localhost:51218/" />
    <add key="BaseUrl" value="http://localhost:63829/" />

    <add key="ApiBaseUrlOnePortal" value="http://localhost:51220/" />
    <add key="JWTOnePortal" value="http://208.109.15.41:140/api/UserCreation/GetToken?EmailId=" />
    


  <add key="MailHostName" value="smtpout.secureserver.net" />
    <add key="MailUserName" value="no-reply@lagosfreezone.com" />
    <add key="MailPassword" value="Zaksof@123" />
    <add key="SenderEmail" value="no-reply@lagosfreezone.com" />
    <add key="SenderPort" value="587" />

    <!--<add key="MailHostName" value="test-zaksof.in" />
    <add key="MailUserName" value="info@test-zaksof.in" />
    <add key="MailPassword" value="test@123" />
    <add key="SenderEmail" value="info@test-zaksof.in" />
    <add key="SenderPort" value="587" />-->

    <add key="DocPath" value="D:\Eservice\" />
    <add key="folderName" value="~\Uploads\RequestUpload" />
    
    <!-- if value= 1 than appsetting value-->
    <add key="SendMailForLocal" value="1" />
    <!--<add key="SendMailForLocal" value="0" />-->
    <add key="MailIdForLocal" value="dharamkumar.singh@edgeaxis.in" />
    <!--<add key="MailIdForLocal" value="ismail@zaksof.com"/>-->
    
    <!-- Upload URL for Files-->
    <add key="RequesUploadPath" value="~\Uploads\RequestUpload\" />
    <add key="AllocateActionUploadPath" value="~\Uploads\AllocateActionUpload\" />
    <add key="EnterpriseImagePath" value="~\Uploads\EnterpriseProfileUpload\" />
    <add key="DepartmentUserActionUploadPath" value="~\Uploads\DepartmentUserActionUploadPath\" />
    
    <!--<add key="SubmitRequest" value="/EmailTemplate/SubmitRequest.html" />
    <add key="UpdateRequest" value="/EmailTemplate/UpdateRequest.html" />
    <add key="ReopenedRequest" value="/EmailTemplate/ReopenedRequest.html" />
 
    
    <add key="SubmitAllocationToDepartment" value="/EmailTemplate/SubmitAllocationToDepartment.html" />
    <add key="HODRequestAssignToDepartmentUser" value="/EmailTemplate/HODRequestAssignToDepartmentUser.html" />
    <add key="DepartmentUserChangeStatusTicket" value="/EmailTemplate/DepartmentUserChangeStatusTicket.html" />
    <add key="DepartmentSelfAssignTicket" value="/EmailTemplate/DepartmentSelfAssignTicket.html" />
    <add key="surveycompletion" value="/EmailTemplate/surveycompletion.html" />-->


    <add key="SubmitRequest" value="~/EmailTemplates/SubmitRequest.html" />
    <add key="UpdateRequest" value="~/EmailTemplates/UpdateRequest.html" />
    <add key="ReopenedRequest" value="~/EmailTemplates/ReopenedRequest.html" />


    <add key="SubmitAllocationToDepartment" value="~/EmailTemplates/SubmitAllocationToDepartment.html" />
    <add key="HODRequestAssignToDepartmentUser" value="~/EmailTemplates/HODRequestAssignToDepartmentUser.html" />
    <add key="DepartmentUserChangeStatusTicket" value="~/EmailTemplates/DepartmentUserChangeStatusTicket.html" />
    <add key="DepartmentSelfAssignTicket" value="~/EmailTemplates/DepartmentSelfAssignTicket.html" />
    <add key="surveycompletion" value="~/EmailTemplates/surveycompletion.html" />
    

  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="180"></sessionState>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxQueryStringLength="32768" maxUrlLength="65536" maxRequestLength="25120" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <connectionStrings>
	  <add name="AppConnectionString" connectionString="Server=localhost\SQLEXPRESS;initial catalog=LFZ_EservicePortal_PROD;integrated security=true;max pool size=5000;" />
	  <add name="LFTZ_InvestorPortalEntities" connectionString="metadata=res://*/LFTZIPContext.csdl|res://*/LFTZIPContext.ssdl|res://*/LFTZIPContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=LFZ_EservicePortal_PROD;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  
    <!--<add name="AppConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;initial catalog=LFZ_EservicePortal2024;user id=sa;password=sa123;max pool size=5000;" />
    <add name="LFTZ_InvestorPortalEntities" connectionString="metadata=res://*/LFTZIPContext.csdl|res://*/LFTZIPContext.ssdl|res://*/LFTZIPContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;initial catalog=LFZ_EservicePortal2024;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--<handlers>
        <add verb="POST" path="*.*"

             name="FileUploadHandler"

             type="AddRemoveRowDynamicallyUsingJQuery.FileUploadHandler, AddRemoveRowDynamicallyUsingJQuery"/>
    </handlers>-->
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>